In [1]:
import numpy as np
import pandas as pd

In [2]:
airline = pd.read_csv('test.csv', sep = ',')
df = airline.copy()

In [3]:
df.head(3)

,tweet_id,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,569682010270101504,American,NaN,zsalim03,NaN,0,@AmericanAir In car gng to DFW. Pulled over 1h...,NaN,2015-02-22 18:15:50 -0800,Texas,Central Time (US & Canada)
1,569608307184242688,American,NaN,sa_craig,NaN,0,"@AmericanAir after all, the plane didn’t land ...",NaN,2015-02-22 13:22:57 -0800,"College Station, TX",Central Time (US & Canada)
2,567879304593408001,Southwest,NaN,DanaChristos,NaN,1,@SouthwestAir can't believe how many paying cu...,NaN,2015-02-17 18:52:31 -0800,CT,Eastern Time (US & Canada)

In [ ]:
df1 = df[['text']]
df1.head(3)

In [ ]:
tweets = list(df1['text'])
len(tweets)

In [ ]:
from nltk.stem import WordNetLemmatizer
lemmatizer=WordNetLemmatizer()

In [ ]:
from nltk.corpus import wordnet
from nltk import pos_tag
def get_simple_pos(tag):
    if tag.startswith('J'):
        return wordnet.ADJ
    elif tag.startswith('V'):
        return wordnet.VERB
    elif tag.startswith('N'):
        return wordnet.NOUN
    elif tag.startswith('R'):
        return wordnet.ADV
    else:
        return wordnet.NOUN

In [ ]:
from nltk.corpus import stopwords
import string
stops= set(stopwords.words('english'))
punctuations=list(string.punctuation)
stops.update(punctuations)

In [ ]:
def clean_review(words):
    output_words=[]
    for w in words:
        if w.lower() not in stops:
            pos=pos_tag([w])#POSneedsArray
            clean_words= lemmatizer.lemmatize(w,pos=get_simple_pos(pos[0][1]))
            output_words.append(clean_words.lower()) 
    return output_words

In [ ]:
tweets_new = [i.split() for i in tweets]

In [ ]:
data=[]
for tweet in tweets_new:
    cleaned_tweet=clean_review(tweet)
    data.append(cleaned_tweet)

In [ ]:
from textblob import TextBlob

In [ ]:
data2 = []
for tweet in data:
    tweet = ' '.join(tweet)
    analysis = TextBlob(tweet)
    polarity = 'negative'
    if(analysis.sentiment.polarity >=0.66):
        polarity = 'positive'
    if(0.33<=analysis.sentiment.polarity <0.66):
        polarity = 'neutral'    
    data2.append(polarity)
df2 = pd.DataFrame(data2)
df2.head(5)

In [ ]:
df2.to_csv("Predict_v2.csv")